# Virtual environments
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.$py.class

*.log
*.sqlite3
db.sqlite3
/media/
/static_collected/

.env
*.key

.vscode/
.vscode/*.local

*.DS_Store
*.pcm

.docker/
docker-compose.override.yml
docker-compose.yaml.backup

pipenv.log
GDAL-3.7.3-cp310-cp310-win_amd64.whl