venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.$py.class

*.log
*.sqlite3
db.sqlite3
/media/
/static_collected/

.env.prod
*.key

.vscode/
.vscode/*.local
.idea/
.idea/*workspace.xml

*.DS_Store
*.pcm
*/migrations/


.docker/
docker-compose.override.yml
docker-compose.yaml.backup

pipenv.log
GDAL-3.7.3-cp310-cp310-win_amd64.whl

.pytest_cache/
