SECRET_KEY="SECRET_KEY"
DJANGO_DEBUG=False
DJANGO_SETTINGS_MODULE=config.settings
ALLOWED_HOSTS=localhost

POSTGRES_DB=db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=host
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379
CELERY_BROKER_URL=redis://redis:6379/0
DJANGO_CACHE_URL=redis://redis:6379/1

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=11@gmail.com
EMAIL_HOST_PASSWORD=111111
DEFAULT_FROM_EMAIL=noreply@gmail.com


GUNICORN_LOG_LEVEL=info
GUNICORN_RELOAD=False

SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True